# [dbo].[courses]

In [0]:
/****** Object:  Table [dbo].[courses]    Script Date: 5/31/2025 12:21:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[studentid] [int] NULL,
	[coursename] [nvarchar](100) NULL,
	[grade] [char](1) NULL,
	[InstructorId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Departments]

In [0]:
/****** Object:  Table [dbo].[Departments]    Script Date: 5/31/2025 12:21:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Instructors]

In [0]:
/****** Object:  Table [dbo].[Instructors]    Script Date: 5/31/2025 12:21:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[DepartmentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[persona]

In [0]:
/****** Object:  Table [dbo].[persona]    Script Date: 5/31/2025 12:21:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persona](
	[name] [char](50) NULL,
	[age] [int] NULL
) ON [PRIMARY]
GO

# [dbo].[products]

In [0]:
/****** Object:  Table [dbo].[products]    Script Date: 5/31/2025 12:21:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[category] [char](6) NOT NULL,
	[name] [varchar](30) NOT NULL,
	[description] [varchar](100) NULL,
	[weight] [float] NULL,
	[price] [decimal](10, 2) NULL
) ON [PRIMARY]
GO

# [dbo].[students]

In [0]:
/****** Object:  Table [dbo].[students]    Script Date: 5/31/2025 12:21:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NULL,
	[enrollmentdate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [DF__students__enroll__66603565]

In [0]:
ALTER TABLE [dbo].[students] ADD  DEFAULT (getdate()) FOR [enrollmentdate]
GO

# [FK__courses__student__6A30C649]

In [0]:
ALTER TABLE [dbo].[courses]  WITH CHECK ADD FOREIGN KEY([studentid])
REFERENCES [dbo].[students] ([id])
GO

# [FK_CourseInstructor]

In [0]:
ALTER TABLE [dbo].[courses]  WITH CHECK ADD  CONSTRAINT [FK_CourseInstructor] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[Instructors] ([Id])
GO
ALTER TABLE [dbo].[courses] CHECK CONSTRAINT [FK_CourseInstructor]
GO

# [FK_InstructorsDepartment]

In [0]:
ALTER TABLE [dbo].[Instructors]  WITH CHECK ADD  CONSTRAINT [FK_InstructorsDepartment] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Instructors] CHECK CONSTRAINT [FK_InstructorsDepartment]
GO